<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, :required => true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, :required => true, class: "form-control" %>
  </div><br>
    <%= form.hidden_field :created_by, :value => current_user.id%>
    <%= form.hidden_field :updated_by, :value => current_user.id%>

  <% @users.each do |user| %>
  <div class="form-group">
    <%= check_box_tag "user_ids[#{user.id}]", user.id, :name => "user_ids[]" %><%= user.email%>
  </div>
  <% end %>
  <br>

  

  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
